<div class="row" style="padding: 70px 0;">
{{#if users}}
<div class="col-12">
Xin chào: {{users.name}}
</div>
<div class="col-12" style="padding-top:10px;">
<a href="/user/logout.html"><button class="btn btn-primary">Đăng xuất</button></a>
</div>
{{/if}}


</div>