<div class="row" style="padding: 70px 0;">
	<div class="col-md-6">
<div class="alert alert-primary" role="alert">
	Thêm thành công
</div>
<a href="/"><button class="btn btn-primary">Quay về</button></a>
	</div>
</div>