<style>
	.col-md-3{
		margin-top: 10px;
	}
	.col-sm-7 {
		margin-top: 10px;
	}
</style>
<div class="row" style="padding: 70px 0;">
	<div class="col-md-6 col-md-offset-6">
	<h1>Thêm người dùng</h1>
		{{#if hasErrors}}
			<div class="alert alert-danger">
				{{#each messages}}
					<p>{{this}}</p>
				{{/each}}
			</div>
		{{/if}}
		<hr />
	<form action="/admin/add/user.html" method="post">
		<div class="row">
			<label for="inputUsername" class="col-md-3 col-sm-12 col-form-label">Username(<strong style="color:red">*</strong>)</label>
			<div class="col-md-7 col-sm-7"><input type="text" class="form-control" placeholder="username" name="username" required></div>
		
			<label for="inputPassword" class="col-md-3 col-sm-12 col-form-label">Password(<strong style="color:red">*</strong>)</label>
			<div class="col-md-7 col-sm-7"><input type="password" class="form-control" placeholder="password" name="password" required></div>
			<label for="inputPassword" class="col-md-3 col-sm-12 col-form-label">Re-Password(<strong style="color:red">*</strong>)</label>
			<div class="col-md-7 col-sm-7"><input type="password" name="password2" class="form-control" required placeholder="re-Password"></div>
			<div class="col-md-12 col-sm-12"><input type="text" name="_csrf" value="{{csrfToken}}"><hr /></div>
			<div class="col-md-3"><input type="submit" name="" class="btn btn-primary" value="Thêm" data-toggle="modal" data-target="#exampleModal" ></div>
		</div>
	</form>
	</div>
</div>